<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmy.rsck.mapper.RsdfGameEntryMapper">
    <resultMap id="BaseResultMap" type="com.lmy.rsck.model.example.RsdfGameEntry">
        <id column="id" property="id" />
        <result column="game_id" property="gameId" />
        <result column="entry_id" property="entryId" />
    </resultMap>
    
    <sql id="Base_Column_List">
        id, game_id, entry_id     
    </sql>
</mapper>