<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmy.rsck.mapper.RsdfGameEventMapper">
    <resultMap id="BaseResultMap" type="com.lmy.rsck.model.example.RsdfGameEvent">
        <id column="id" property="id" />
        <result column="game_id" property="gameId" />
        <result column="event_id" property="eventId" />
    </resultMap>
    
    <sql id="Base_Column_List">
        id, game_id, event_id     
    </sql>
</mapper>