<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmy.rsck.mapper.RsdfEventTargetProbabilityMapper">
    <resultMap id="BaseResultMap" type="com.lmy.rsck.model.example.RsdfEventTargetProbability">
        <id column="id" property="id" />
        <result column="event_id" property="eventId" />
        <result column="target_id" property="targetId" />
        <result column="probability" property="probability" />
    </resultMap>
    
    <sql id="Base_Column_List">
        id, event_id, target_id, probability     
    </sql>
</mapper>